@font-face {
    font-family: 'Harmonia_black';
    src: url('../fonts/HarmoniaSansProCyr-Black.eot');
    src: url('../fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Black.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_semibold';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_bold';
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
    src: url('../fonts/HarmoniaSansProCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Bold.svg#HarmoniaSansProCyr-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Harmonia_italic';
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot');
    src: url('../fonts/HarmoniaSansProCyr-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff2') format('woff2'),
    url('../fonts/HarmoniaSansProCyr-Italic.woff') format('woff'),
    url('../fonts/HarmoniaSansProCyr-Italic.ttf') format('truetype'),
    url('../fonts/HarmoniaSansProCyr-Italic.svg#HarmoniaSansProCyr-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*Style reset*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #111;
    font: 12px/1 "Harmonia_regular", sans-serif;
    background-color: #f4f6f8;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

textarea {
    resize: vertical;
}

/*Style reset end*/

/*DEFAULT CLASS START*/
.flex-container {
    display: flex;
}

.justify-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.white-bg {
    background-color: #fff;
}

.icon {
    display: inline-block;
}

.blue-color {
    color: #34404b;
}

/*DEFAULT CLASS END*/

/*DEFAULT component START*/
.header .bottom-header {
    padding: 40px 0;
}

.header .bottom-header .user-controls {
    margin-left: auto;
    position: relative;
    margin-bottom: -16px;
}

.header .bottom-header .user-controls a + a {
    margin-left: 30px;
}

.bottom-header .user-controls .index-purchases {
    display: inline-block;
    width: 18px;
    height: 18px;
    top: -16px;
    right: 3px;
    border-radius: 50%;
    background-color: #34404b;
    font-size: 18px;
    color: #fff;
    position: absolute;
}

.bottom-header .header-nav {
    margin-left: 85px;
    font-size: 16px;
}

.bottom-header .header-nav a:hover {
    color: #ff5912;
}

.bottom-header .header-nav a + a {
    margin-left: 40px;
}

.header .top-header {
    padding: 24px 0;
    border-bottom: 1px solid #edeff1;
}

.header .top-header .icon {
    margin-right: 10px;
}

.header .top-header span {
    margin-right: 20px;
}

.header .top-header .user-contacts {
    margin-left: auto;
    font-size: 13px;
}

.top-header .user-contacts a + a {
    margin-left: 15px;
}

.top-header .user-contacts a i:hover{
    color: #ff5912;
}

/*DEFAULT component END*/